<div class="container">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
      <h4>商品編集</h4>
      <%= form_with model: @item, url: admin_item_path, method: :patch do |f| %>
      <form class="form-horizontal">
        <div class="form-group form-inline">
          <label class="col-lg-3">
            <%= f.label :商品画像 %>
          </label>
          <div class="col-lg-7">
            <%= f.file_field :image, accept: "image/*" %>
          </div>
        </div>

        <div class="form-group form-inline">
          <label class="col-lg-3">
            <%= f.label :商品名 %>
          </label>
          <div class="col-lg-7">
            <%= f.text_field :name %>
          </div>
        </div>

        <div class="form-group form-inline">
          <label class="col-lg-3">
            <%= f.label :商品説明 %>
          </label>
          <div class="col-lg-7">
            <%= f.text_area :introduction %>
          </div>
        </div>

        <div class="form-group form-inline">
          <label class="col-lg-3">
            <%= f.label :ジャンル %>
          </label>
          <div class="col-lg-7">
            <%= f.collection_select :genre_id, @genre.all, :id, :name, include_blank: "--選択してください--" %>
          </div>
        </div>

        <div class="form-group form-inline">
          <label class="col-lg-3">
            <%= f.label :税抜価格 %>
          </label>
          <div class="col-lg-7">
            <%= f.text_field :price %>円
          </div>
        </div>

        <div class="form-group form-inline">
          <label class="col-lg-3">
            <%= f.label :販売ステータス %>
          </label>
          <div class="col-lg-7">
            <%= f.radio_button :is_active, :true, checked: true %>
            <%= f.label :is_active, "販売中", {value: :true, style: "display: inline-block;"} %>
            <%= f.radio_button :is_active, :false %>
            <%= f.label :is_active, "販売停止中", {value: :false, style: "display: inline-block;"} %>
          </div>
        </div>
        <%= f.submit "変更を保存", class: "btn btn-success" %>
      </form>
      <% end %>
    </div>
    <div class="col-lg-1"></div>
  </div>
</div>