<div class="container">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">

      <h4 class>管理者ログイン</h4>

      <%= form_with model: @admin, url: admin_session_path do |f| %>
        <form class="form-horizontal">
          <div class="row">
            <label class="col-lg-3">
              <%= f.label :メールアドレス %>
            </label>
            <div class="col-lg-7">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", style: "width:100%" %>
            </div>
          </div>

          <div class="row">
            <label class="col-lg-3">
              <%= f.label :パスワード %>
            </label>
            <div class="col-lg-7">
              <%= f.password_field :password, autocomplete: "current-password", style: "width:100%" %>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col-lg-3"></div>
            <div class="col">
              <%= f.submit "ログイン", class: "btn btn-primary" %>
            </div>
          </div>
        </form>

      <% end %>

      <%= render "admin/shared/links" %>

    </div>
    <div class="col-lg-1"></div>
  </div>
</div>