<div class="container">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">

      <h4>ショッピングカート</h4>
      

      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th scope="col">商品名</th>
            <th scope="col">単価（税込）</th>
            <th scope="col">数量</th>
            <th scope="col">小計</th>
            <th scope="col"></th>
          </tr>
        </thead>

        <tbody>
          <% @cart_items.each do |cart_item| %>
            <tr>
              <td><%= cart_item.item.name %></td>
              <td><%= cart_item.item.with_tax_price %></td>
              <td><%= cart_item.amount %></td>
              <td><%= cart_item.subtotal %></td>
              <td><%= link_to "削除する", cart_item_path(cart_item.id), method: :delete, class: "btn btn-danger btn-sm" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-lg-1"></div>
  </div>
</div>